<h2 mat-dialog-title>{{diaTitle}}</h2>
<div class=" row ">
    <div class="col-12">
        <table class="table table-striped table-bordered responsive mat-table " style="background-color: #fff !important;">
            <tr>
                <th width="20%">Company Name</th>
                <td width="30%">{{data.company_name}}</td>
                <th width="20%">GST Number</th>
                <td width="30%">{{data.gst_number}}</td>
            </tr>
            <tr>
                <th>Billing Street</th>
                <td>{{data.billing_street}}</td>
                <th>Billing City</th>
                <td>{{data.billing_city}}</td>
            </tr>
            <tr>
                <th>Billing State</th>
                <td>{{data.billing_state}}</td>
                <th>Billing Code</th>
                <td>{{data.billing_code}}</td>
            </tr>
            <tr>
                <th>Billing Country</th>
                <td>{{data.billing_country}}</td>
                <th>Shipping Street</th>
                <td>{{data.shipping_street}}</td>
            </tr>
            <tr>
                <th>Shipping City</th>
                <td>{{data.shipping_city}}</td>
                <th>Shipping State</th>
                <td>{{data.shipping_state}}</td>
            </tr>
            <tr>
                <th>Shipping Code</th>
                <td>{{data.shipping_code}}</td>
                <th>Shipping Country</th>
                <td>{{data.shipping_country}}</td>
            </tr>
            <tr>
                <th>Description Information</th>
                <td colspan="3">{{data.description_information}}</td>
            </tr>

             
        </table>
    </div>
</div>
    <div class="row" style="float: right;">
        <button class="btn btn-default" (click)="hide();">Close</button>&nbsp;
    </div>