<div class="content-wrapper">
    <div class="content-header" style="margin-top: 57px;">
        <div class="container-fluid">
            <nav mat-tab-nav-bar *ngIf="isLoading">
                <a mat-tab-link *ngFor="let tabItem of tabItems" (click)="onchangetab(tabItem)"
                    [active]="activeLink == tabItem"> {{tabItem}} </a>
            </nav><br>
            <mat-progress-bar mode="indeterminate" [hidden]="isLoading"></mat-progress-bar>
        </div>
    </div>
    <section class="content" *ngIf="isLoading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped table-bordered responsive "
                        style="background-color: #fff !important;">
                        <tr>
                            <th>Client Name</th>
                            <th>Zoho Id</th>
                            <th>Job Id</th>
                            <th>Media Type</th>
                        </tr>
                        <tr>
                            <td>{{mediaDetails['customer_name']}}</td>
                            <td>{{mediaDetails['zoho_id']}}</td>
                            <td>{{mediaDetails['job_id']}}</td>
                            <td>{{mediaDetails['media_type']}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-8">
                    <form [formGroup]="jobStatus">

                        <div class="form-group   ">
                            <label for="uname">Select Status:<sup class="text-danger">*</sup></label>
                            <mat-select formControlName="statusDrp" (selectionChange)="statusChange($event.value)"
                                [ngClass]="{ 'is-invalid': submitted && f['statusDrp'].errors }"
                                class="form-control form-control-sm">
                                <mat-option *ngFor="let st of statusList" [value]="st">{{st}}
                                </mat-option>
                            </mat-select>
                            <div *ngIf="submitted && f['statusDrp'].errors" class="invalid-feedback">
                                <div *ngIf="f['statusDrp'].errors['required']">Status is required</div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="uname">Edit Status<sup class="text-danger">*</sup></label>
                            <textarea class="form-control form-control-sm" formControlName="status"
                                [ngClass]="{ 'is-invalid': submitted && f['status'].errors }">{{this.f['statusDrp'].value}}</textarea>
                            <div *ngIf="submitted && f['status'].errors" class="invalid-feedback">
                                <div *ngIf="f['status'].errors['required']">Status is required</div>
                            </div>
                        </div>
                        <div class="text-right mb-3">
                            <button [disabled]="loading" type="buttun" class="btn btn-primary btn-sm"
                                (click)="onSubmit()">Save<span *ngIf="loading"
                                    class="spinner-border spinner-border-sm mr-1"></span></button>
                            <button class="btn btn-default ml-2 btn-sm" (click)="Reset();">Reset</button>
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <table class="table table-striped table-bordered responsive"
                        style="background-color: #fff !important;">
                        <tr>
                            <th colspan="4" class="h6">Media Status History</th>

                        </tr>
                        <tr>
                            <th width="30">S.No</th>
                            <th width="200">Modify On</th>
                            <th width="200">Modify By</th>
                            <th>Status</th>
                        </tr>
                        <tr *ngFor="let item of mediaEditHistory; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{mediaEditHistory[i]['added_on'] | date:'medium'}}</td>
                            <td>{{ mediaEditHistory[i]['Username'] }}</td>
                            <td>{{mediaEditHistory[i]['status']}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </section>
</div>