<h2 mat-dialog-title>{{diaTitle}}</h2>
<form [formGroup]="jobStatus">
    <div mat-dialog-content>
        
        <div class="col-sm-12">
            <label class="control-label">Select Status<sup class="text-danger">*</sup></label>
            <mat-select formControlName="status" [ngClass]="{ 'is-invalid': submitted && f['status'].errors }"
                class="form-control">
                <mat-option *ngFor="let st of statusList" [value]="st['id']">{{st['stage_name']}}
                </mat-option>
            </mat-select>
            <div *ngIf="submitted && f['status'].errors" class="invalid-feedback">
                <div *ngIf="f['status'].errors['required']">Status is required</div>
            </div>
        </div><br>
        <div class="col-sm-12">
            <label class="control-label">Add Your Remarks<sup class="text-danger">*</sup>:</label><br>
         <textarea class="form-control form-control-sm" formControlName="remarks"
           [ngClass]="{ 'is-invalid': submitted && f['remarks'].errors }"></textarea>
         <div *ngIf="submitted && f['remarks'].errors" class="invalid-feedback">
           <div *ngIf="f['remarks'].errors['required']">Remarks is required</div>
         </div>
        </div>
       

    </div>
</form><br>
<div class="row" style="float: right;" >
    <button class="btn btn-default" (click)="hide();">Close</button>&nbsp;
    <button [disabled]="loading" type="buttun" class="btn btn-primary" (click)="onSubmit()">Save<span *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"></span></button>
</div>