<div class="content-wrapper">
  <div class="content-header" style="margin-top: 57px;">
    <div class="container-fluid">
      <nav mat-tab-nav-bar *ngIf="isLoading">
        <a mat-tab-link *ngFor="let tabItem of tabItems" (click)="onchangetab(tabItem)"
          [active]="activeLink == tabItem">
          {{(mediaDetails!= null && (mediaDetails['stage'] == 1 || mediaDetails['stage'] == 2 || mediaDetails['stage']
          == 10) && tabItem ==
          'Inspection')?'':tabItem}}
        </a>
      </nav><br>
      <mat-progress-bar mode="indeterminate" [hidden]="isLoading"></mat-progress-bar>
      <div class="row mb-2" *ngIf="isLoading">
        <div class="col-xl-9 col-sm-9">
          <h2 class="m-0 text-dark">{{pageTitle +" : "+mediaDetails['zoho_id']}} &nbsp;&nbsp;&nbsp;<span
              *ngIf="mediaDetails['job_id'] !=null">Job Id : {{mediaDetails['job_id']}}</span></h2>
        </div>
        <div class="col-xl-3 col-sm-3 text-right">
          <button *ngIf="mediaDetails['transferMedia'] != null && mediaDetails['transferMedia']['media_in_status'] ==0"
            class="btn btn-primary btn-sm"
            (click)="generateCode( mediaDetails['transferMedia']['id'])">{{(mediaDetails['transferMedia']['new_branch_id']
            == "23")?"Media In At Head Office":"Media In"}}</button>
          <h2 class="m-0 text-dark"
            *ngIf="mediaDetails['transferMedia'] != null && mediaDetails['transferMedia']['media_in_status'] != 0  && mediaDetails['transferMedia']['new_branch_id'] == '23'">
            Head Office Job Id : {{mediaDetails['transferMedia']['transfer_code']}}</h2>
        </div>
      </div>
    </div>
  </div>
  <section class="content mb-3">
    <div class="container-fluid border p-4">
      <div class="row" *ngIf="isLoading">
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Client Name : </label>
          <span class="ml-2">{{mediaDetails['customer_name']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Zoho Record Id : </label>
          <span class="ml-2">{{mediaDetails['zoho_id']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Branch Name : </label>
          <span class="ml-2">{{mediaDetails['branch_name']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Type of Service : </label>
          <span class="ml-2">{{mediaDetails['service_type']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Mode Of Service : </label>
          <span class="ml-2">{{mediaDetails['service_mode']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Type : </label>
          <span class="ml-2">{{mediaDetails['media_type']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3"  *ngIf="mediaDetails['media_type'] !='Tape Library'">
          <label class="control-label">Media Category : </label>
          <span class="ml-2">{{mediaDetails['media_category']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] !='Tape Standalone' && mediaDetails['media_type'] !='Tape Library'">
          <label class="control-label">Type of Interface : </label>
          <span class="ml-2">{{mediaDetails['media_interface']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3"  *ngIf="!mediaFieldShow">
          <label class="control-label">No. of Media received : </label>
          <span class="ml-2"><a href="javascript:void(0)" matTooltip="View Media Detail"
              (click)="viewMediaDeails()">{{mediaDetails['drive_count']}}</a></span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3"
          *ngIf="mediaFieldShow">
          <label class="control-label">Media Make : </label>
          <span class="ml-2">{{mediaDetails['media_make']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3"
          *ngIf="mediaFieldShow">
          <label class="control-label">Media Capacity : </label>
          <span class="ml-2">{{mediaDetails['media_capacity']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3"
          *ngIf="mediaFieldShow">
          <label class="control-label">Media Model : </label>
          <span class="ml-2">{{mediaDetails['media_model']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3"
          *ngIf="mediaFieldShow">
          <label class="control-label">Media Serial : </label>
          <span class="ml-2">{{mediaDetails['media_serial']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3"
          *ngIf="mediaFieldShow">
          <label class="control-label">Media Status : </label>
          <span class="ml-2">{{mediaDetails['media_status']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3"
          *ngIf="mediaFieldShow">
          <label class="control-label">Media Condition : </label>
          <span class="ml-2">{{mediaDetails['media_condition']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Tampered Status : </label>
          <span class="ml-2">{{mediaDetails['tampered_status']}}</span>
        </div>     
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Peripherals With Media : </label>
          <span class="ml-2">{{mediaDetails['media_casing']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3"
          *ngIf="mediaFieldShow">
          <label class="control-label">Peripherals Details : </label>
          <span class="ml-2">{{mediaDetails['peripherals_details']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Important Data : </label>
          <span class="ml-2">{{mediaDetails['important_data']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Case Added By : </label>
          <span class="ml-2">{{mediaDetails['zoho_user']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Case Added On : </label>
          <span class="ml-2">{{mediaDetails['created_on'] | date:'medium'}}</span>
        </div>

        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['preHis'] !=null">
          <label class="control-label">Pre Inspection By : </label>
          <span class="ml-2">{{(mediaDetails['preHis'][0]['user_name'] ==
            null)?'':mediaDetails['preHis'][0]['user_name']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['preHis'] !=null">
          <label class="control-label">Pre Inspection On : </label>
          <span class="ml-2">{{(mediaDetails['preHis'][0]['user_name'] ==
            null)?'':(mediaDetails['preHis'][0]['added_on'] | date:'medium')}}</span>
        </div>
        <div class="col-lg-6 col-md-6" *ngIf="mediaDetails['transferMedia'] != null">
          <label class="control-label">Media Transfer Reason : </label>
          <span class="ml-2">{{mediaDetails['transferMedia']['reason']}}</span>
        </div>

        <div class="col-lg-6 col-md-6" *ngIf="mediaDetails['transferMedia'] != null">
          <label class="control-label">Media Transfer On : </label>
          <span class="ml-2">{{mediaDetails['transferMedia']['created_on']| date:'medium'}}</span>
        </div>

        <div class="col-lg-6 col-md-6">
          <label class="control-label">Status : </label>
          <span class="ml-2" *ngIf="mediaDetails['preHis'] != null">{{mediaDetails['preHis'][0]['stage_name']}}</span>
        </div>

      </div>
    </div>
  </section>
  <section class="content mb-3" *ngIf="mediaDetails['job_id'] != null">
    <div class="container-fluid border p-4">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h2>Inspection Details</h2>
        </div>
      </div>
      <!-- Start Tape Library    Tape Standalone-->
      <div class="row" *ngIf="mediaDetails['media_type'] == 'Tape Library' || mediaDetails['media_type'] == 'Tape Standalone'">
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Case Type : </label>
          <span class="ml-2">{{mediaDetails['case_type']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Any apparent external physical damage to the Tape Drive : </label>
          <span class="ml-2">{{mediaDetails['media_damage_physical']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Condition WRT any Apparent External Physical Damage to it : </label>
          <span class="ml-2">{{mediaDetails['media_damage']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Type of Internal Physical Damage Identified : </label>
          <span class="ml-2">{{mediaDetails['drive_electronics']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Type of External Physical Damage in Media : </label>
          <span class="ml-2">{{mediaDetails['media_condition']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Type of O.S on which taken backup : </label>
          <span class="ml-2">{{mediaDetails['media_os']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Backup Utility : </label>
          <span class="ml-2">{{mediaDetails['backup_software']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Backup Architecture : </label>
          <span class="ml-2">{{mediaDetails['media_architecture']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Tamper/Open Permission : </label>
          <span class="ml-2">{{mediaDetails['tampering_required']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Further use of Media : </label>
          <span class="ml-2">{{mediaDetails['further_use']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Similar Spare : </label>
          <span class="ml-2">{{mediaDetails['spare_required']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Found Encrypted : </label>
          <span class="ml-2">{{mediaDetails['encryption_status']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
          <label class="control-label">Encryption Name : </label>
          <span class="ml-2">{{mediaDetails['encryption_name']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
          <label class="control-label">Encryption Level Identified on the Media : </label>
          <span class="ml-2">{{mediaDetails['encryption_type']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
          <label class="control-label">Details Provided For Decryption are up to Mark : </label>
          <span class="ml-2">{{mediaDetails['encryption_details_correct']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Data Status Identified : </label>
          <span class="ml-2">{{mediaDetails['compression_status']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Recovery Possibility : </label>
          <span class="ml-2">{{mediaDetails['recovery_possibility']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Recovered Data Files and Folder’s Structure : </label>
          <span class="ml-2">{{mediaDetails['recoverable_data']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Recovery Percentage : </label>
          <span class="ml-2">{{mediaDetails['recovery_percentage']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Required Days : </label>
          <span class="ml-2">{{mediaDetails['required_days']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Extension Required : </label>
          <span class="ml-2">{{mediaDetails['extension_required']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Extension Required Days : </label>
          <span class="ml-2">{{mediaDetails['extension_day']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Inspection Due Reason : </label>
          <span class="ml-2">{{mediaDetails['assessment_due_reason']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'No'">
          <label class="control-label">Case Not Possible Reason : </label>
          <span class="ml-2">{{mediaDetails['no_recovery_reason_other']}}</span>
        </div>
        <div class="col-lg-6 col-md-6">
          <label class="control-label">Inspection Status : </label>
          <span class="ml-2" *ngIf="mediaDetails['assHis'] != null">{{mediaDetails['assHis'][0]['stage_name']}}</span>
        </div>
        <div class="col-lg-6 col-md-6" *ngIf="mediaDetails['assHis'] !=null">
          <label class="control-label">Inspection On : </label>
          <span class="ml-2">{{(mediaDetails['assHis'][0]['user_name'] ==
            null)?'':(mediaDetails['assHis'][0]['added_on'] | date:'medium')}}</span>
        </div>
        <div class="col-lg-6 col-md-6" *ngIf="mediaDetails['assHis'] !=null">
          <label class="control-label">Inspection By : </label>
          <span class="ml-2">{{(mediaDetails['assHis'][0]['user_name'] ==
            null)?'':mediaDetails['assHis'][0]['user_name']}}</span>
        </div>
      </div>
      <!-- End Tape Library Tape Standalone-->
      <!-- Start CD/DVD Floppy Disk    -->
      <div class="row" *ngIf="mediaDetails['media_type'] == 'CD/DVD' || mediaDetails['media_type'] == 'Floppy Disk'">
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Condition WRT any Apparent External Physical Damage to it : </label>
          <span class="ml-2">{{mediaDetails['media_damage']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Type of External Physical Damage in Media : </label>
          <span class="ml-2">{{mediaDetails['condition']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Case Type : </label>
          <span class="ml-2">{{mediaDetails['case_type']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Type of Internal Physical Damage Identified in the Storage Media : </label>
          <span class="ml-2">{{mediaDetails['media_damage_physical']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Reading Process : </label>
          <span class="ml-2">{{mediaDetails['reading_process']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Surface State Identified : </label>
          <span class="ml-2">{{mediaDetails['state_identified']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Further use of Media : </label>
          <span class="ml-2">{{mediaDetails['further_use']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Found Encrypted : </label>
          <span class="ml-2">{{mediaDetails['encryption_status']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
          <label class="control-label">Encryption Name : </label>
          <span class="ml-2">{{mediaDetails['encryption_name']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
          <label class="control-label">Encryption Level Identified on the Media : </label>
          <span class="ml-2">{{mediaDetails['encryption_type']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
          <label class="control-label">Details Provided For Decryption are up to Mark : </label>
          <span class="ml-2">{{mediaDetails['encryption_details_correct']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Type of Operating System Identified : </label>
          <span class="ml-2">{{mediaDetails['media_os']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Data Status Identified : </label>
          <span class="ml-2">{{mediaDetails['compression_status']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Recovery Possibility : </label>
          <span class="ml-2">{{mediaDetails['recovery_possibility']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Recovered Data Files and Folder’s Structure : </label>
          <span class="ml-2">{{mediaDetails['recoverable_data']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Recovery Percentage : </label>
          <span class="ml-2">{{mediaDetails['recovery_percentage']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Required Days : </label>
          <span class="ml-2">{{mediaDetails['required_days']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Extension Required : </label>
          <span class="ml-2">{{mediaDetails['extension_required']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Extension Required Days : </label>
          <span class="ml-2">{{mediaDetails['extension_day']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Inspection Due Reason : </label>
          <span class="ml-2">{{mediaDetails['assessment_due_reason']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'No'">
          <label class="control-label">Case Not Possible Reason : </label>
          <span class="ml-2">{{mediaDetails['no_recovery_reason_other']}}</span>
        </div>
        <div class="col-lg-6 col-md-6">
          <label class="control-label">Inspection Status : </label>
          <span class="ml-2" *ngIf="mediaDetails['assHis'] != null">{{mediaDetails['assHis'][0]['stage_name']}}</span>
        </div>
        <div class="col-lg-6 col-md-6" *ngIf="mediaDetails['assHis'] !=null">
          <label class="control-label">Inspection On : </label>
          <span class="ml-2">{{(mediaDetails['assHis'][0]['user_name'] ==
            null)?'':(mediaDetails['assHis'][0]['added_on'] | date:'medium')}}</span>
        </div>
        <div class="col-lg-6 col-md-6" *ngIf="mediaDetails['assHis'] !=null">
          <label class="control-label">Inspection By : </label>
          <span class="ml-2">{{(mediaDetails['assHis'][0]['user_name'] ==
            null)?'':mediaDetails['assHis'][0]['user_name']}}</span>
        </div>  
      </div>
      <!-- End CD/DVD Floppy Disk      -->
      <!-- Start RAID NVR Media Floppy Fusion IO Drive Fusion Drive      -->
      <div class="row" *ngIf="mediaDetails['media_type'] == 'RAID' || mediaDetails['media_type'] ==  'NVR Media' || mediaDetails['media_type'] =='Fusion IO Drive' || mediaDetails['media_type'] =='Fusion Drive'">
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Condition WRT any Apparent External Physical Damage to it : </label>
          <span class="ml-2">{{mediaDetails['media_damage']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Storage Box/Server Rack Condition wrt any Apparent External Physical Damage to it : </label>
          <span class="ml-2">{{mediaDetails['media_damage_physical_serve']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Type of External Physical Damage in Media : </label>
          <span class="ml-2">{{mediaDetails['media_condition']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Case Type : </label>
          <span class="ml-2">{{mediaDetails['case_type']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Type of RAID Configuration Identified : </label>
          <span class="ml-2">{{mediaDetails['server_type']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">No. of Raid Groups in Raid Server/Storage : </label>
          <span class="ml-2">{{mediaDetails['media_group']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Internal Condition of Platters : </label>
          <span class="ml-2">{{mediaDetails['platters_condition']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Tamper/Open Permission : </label>
          <span class="ml-2">{{mediaDetails['tampering_required']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Further use of Media : </label>
          <span class="ml-2">{{mediaDetails['further_use']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Similar Spare : </label>
          <span class="ml-2">{{mediaDetails['spare_required']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Clone Required : </label>
          <span class="ml-2">{{mediaDetails['media_clone']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Media Found Encrypted : </label>
          <span class="ml-2">{{mediaDetails['encryption_status']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
          <label class="control-label">Encryption Name : </label>
          <span class="ml-2">{{mediaDetails['encryption_name']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
          <label class="control-label">Encryption Level Identified on the Media : </label>
          <span class="ml-2">{{mediaDetails['encryption_type']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
          <label class="control-label">Details Provided For Decryption are up to Mark : </label>
          <span class="ml-2">{{mediaDetails['encryption_details_correct']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Type of Operating System Identified : </label>
          <span class="ml-2">{{mediaDetails['media_os']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">File System Consistency Check for Required Data : </label>
          <span class="ml-2">{{mediaDetails['file_system_info']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Cause of Data Loss : </label>
          <span class="ml-2">{{mediaDetails['data_loss_reason']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label class="control-label">Recovery Possibility : </label>
          <span class="ml-2">{{mediaDetails['recovery_possibility']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Recovered Data Files and Folder’s Structure : </label>
          <span class="ml-2">{{mediaDetails['recoverable_data']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Recovery Percentage : </label>
          <span class="ml-2">{{mediaDetails['recovery_percentage']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Required Days : </label>
          <span class="ml-2">{{mediaDetails['required_days']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Extension Required : </label>
          <span class="ml-2">{{mediaDetails['extension_required']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Extension Required Days : </label>
          <span class="ml-2">{{mediaDetails['extension_day']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
          <label class="control-label">Inspection Due Reason : </label>
          <span class="ml-2">{{mediaDetails['assessment_due_reason']}}</span>
        </div>
        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'No'">
          <label class="control-label">Case Not Possible Reason : </label>
          <span class="ml-2">{{mediaDetails['no_recovery_reason_other']}}</span>
        </div>
        <div class="col-lg-6 col-md-6">
          <label class="control-label">Inspection Status : </label>
          <span class="ml-2" *ngIf="mediaDetails['assHis'] != null">{{mediaDetails['assHis'][0]['stage_name']}}</span>
        </div>
        <div class="col-lg-6 col-md-6" *ngIf="mediaDetails['assHis'] !=null">
          <label class="control-label">Inspection On : </label>
          <span class="ml-2">{{(mediaDetails['assHis'][0]['user_name'] ==
            null)?'':(mediaDetails['assHis'][0]['added_on'] | date:'medium')}}</span>
        </div>
        <div class="col-lg-6 col-md-6" *ngIf="mediaDetails['assHis'] !=null">
          <label class="control-label">Inspection By : </label>
          <span class="ml-2">{{(mediaDetails['assHis'][0]['user_name'] ==
            null)?'':mediaDetails['assHis'][0]['user_name']}}</span>
        </div>

      </div>
        <!-- End RAID NVR Media Floppy Fusion IO Drive Fusion Drive -->
        <!-- Start  Other Media --> 
        <div class="row" *ngIf="mediaDetails['media_type'] != 'RAID' && mediaDetails['media_type'] !=  'NVR Media' && mediaDetails['media_type'] !='Fusion IO Drive'
                         && mediaDetails['media_type'] !='Fusion Drive' && mediaDetails['media_type'] !='CD/DVD' && mediaDetails['media_type'] !='Floppy Disk' && mediaDetails['media_type'] !='Tape Library' && mediaDetails['media_type'] !='Tape Standalone'">
       
                         <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] == 'Solid State Drive' || mediaDetails['media_type'] == 'External Solid State Drive'">
                          <label class="control-label">Media Received : </label>
                          <span class="ml-2">{{mediaDetails['media_received']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] == 'Solid State Drive' || mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Flash Media'">
                          <label class="control-label">Media `s Laptop/MacBook Condition wrt any Apparent External Physical Damage to it : </label>
                          <span class="ml-2">{{mediaDetails['media_damage_physical']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] != 'Solid State Drive' && mediaDetails['media_type'] != 'External Solid State Drive'">
                          <label class="control-label">Media Condition WRT any Apparent External Physical Damage to it : </label>
                          <span class="ml-2">{{mediaDetails['media_damage']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] == 'Solid State Drive' || mediaDetails['media_type'] == 'External Solid State Drive'">
                          <label class="control-label">Media Condition WRT any Apparent External Physical Damage to it : </label>
                          <span class="ml-2">{{mediaDetails['media_damage']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                          <label class="control-label">Case Type : </label>
                          <span class="ml-2">{{mediaDetails['case_type']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] != 'Solid State Drive' && mediaDetails['media_type'] != 'External Solid State Drive' && mediaDetails['media_type'] != 'Flash Media'">
                          <label class="control-label">Type of Noise Identified while the Drive is Powered-on : </label>
                          <span class="ml-2">{{mediaDetails['noise_type']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] == 'Solid State Drive' || mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Flash Media'">
                          <label class="control-label">Media Condition : </label>
                          <span class="ml-2">{{mediaDetails['media_condition']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] == 'Flash Media'">
                          <label class="control-label">Type of Internal Physical Damage Identified in the Storage Media : </label>
                          <span class="ml-2">{{mediaDetails['media_damage_physical']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] == 'Flash Media'">
                          <label class="control-label">FLASH Media`s Architecture : </label>
                          <span class="ml-2">{{mediaDetails['media_architecture']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                          <label class="control-label">Drive Electronics & Control Systems : </label>
                          <span class="ml-2">{{mediaDetails['drive_electronics']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] != 'Solid State Drive' && mediaDetails['media_type'] != 'External Solid State Drive' && mediaDetails['media_type'] != 'Flash Media'">
                          <label class="control-label">Rotatory Function : </label>
                          <span class="ml-2">{{mediaDetails['rotary_function']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] != 'Solid State Drive' && mediaDetails['media_type'] != 'External Solid State Drive' && mediaDetails['media_type'] != 'Flash Media'">
                          <label class="control-label">Internal Condition of Platters : </label>
                          <span class="ml-2">{{mediaDetails['platters_condition']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                          <label class="control-label">Tamper/Open Permission : </label>
                          <span class="ml-2">{{mediaDetails['tampering_required']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                          <label class="control-label">Further use of Media : </label>
                          <span class="ml-2">{{mediaDetails['further_use']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] != 'Flash Media'">
                          <label class="control-label">Media Similar Spare : </label>
                          <span class="ml-2">{{mediaDetails['spare_required']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['media_type'] != 'Flash Media'">
                          <label class="control-label">Media Clone Required : </label>
                          <span class="ml-2">{{mediaDetails['media_clone']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                          <label class="control-label">Media Found Encrypted : </label>
                          <span class="ml-2">{{mediaDetails['encryption_status']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
                          <label class="control-label">Encryption Name : </label>
                          <span class="ml-2">{{mediaDetails['encryption_name']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
                          <label class="control-label">Encryption Level Identified on the Media : </label>
                          <span class="ml-2">{{mediaDetails['encryption_type']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['encryption_status'] == 'Yes'">
                          <label class="control-label">Details Provided For Decryption are up to Mark : </label>
                          <span class="ml-2">{{mediaDetails['encryption_details_correct']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                          <label class="control-label">Type of Operating System Identified : </label>
                          <span class="ml-2">{{mediaDetails['media_os']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                          <label class="control-label">Data Status Identified : </label>
                          <span class="ml-2">{{mediaDetails['compression_status']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                          <label class="control-label">File System Consistency Check for Required Data : </label>
                          <span class="ml-2">{{mediaDetails['file_system_info']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                          <label class="control-label">Cause of Data Loss : </label>
                          <span class="ml-2">{{mediaDetails['data_loss_reason']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                          <label class="control-label">Recovery Possibility : </label>
                          <span class="ml-2">{{mediaDetails['recovery_possibility']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
                          <label class="control-label">Recovered Data Files and Folder’s Structure : </label>
                          <span class="ml-2">{{mediaDetails['recoverable_data']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
                          <label class="control-label">Recovery Percentage : </label>
                          <span class="ml-2">{{mediaDetails['recovery_percentage']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
                          <label class="control-label">Required Days : </label>
                          <span class="ml-2">{{mediaDetails['required_days']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
                          <label class="control-label">Extension Required : </label>
                          <span class="ml-2">{{mediaDetails['extension_required']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
                          <label class="control-label">Extension Required Days : </label>
                          <span class="ml-2">{{mediaDetails['extension_day']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'Yes'">
                          <label class="control-label">Inspection Due Reason : </label>
                          <span class="ml-2">{{mediaDetails['assessment_due_reason']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3" *ngIf="mediaDetails['recovery_possibility'] == 'No'">
                          <label class="control-label">Case Not Possible Reason : </label>
                          <span class="ml-2">{{mediaDetails['no_recovery_reason_other']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <label class="control-label">Inspection Status : </label>
                          <span class="ml-2" *ngIf="mediaDetails['assHis'] != null">{{mediaDetails['assHis'][0]['stage_name']}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6" *ngIf="mediaDetails['assHis'] !=null">
                          <label class="control-label">Inspection On : </label>
                          <span class="ml-2">{{(mediaDetails['assHis'][0]['user_name'] ==
                            null)?'':(mediaDetails['assHis'][0]['added_on'] | date:'medium')}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6" *ngIf="mediaDetails['assHis'] !=null">
                          <label class="control-label">Inspection By : </label>
                          <span class="ml-2">{{(mediaDetails['assHis'][0]['user_name'] ==
                            null)?'':mediaDetails['assHis'][0]['user_name']}}</span>
                        </div>

        </div>
         <!-- End  Other Media -->
    </div>
  </section>
</div>

<div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':mediaModel}" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-autoheight" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #ddd;">
        <h2 class="modal-title mb-0">Media Details</h2>
      </div>
      <div class="modal-body">
        <div class="row border-bottom text-center">
          <div class="my-1 col">
            <label>S.N</label>
          </div>
          <div class="my-1 col" *ngIf="mediaDetails['media_type'] == 'Tape Library'">
            <label>Media Category</label>
          </div>
          <div class="my-1 col" *ngIf="mediaDetails['media_type'] == 'Tape Library'">
            <label>Media Make</label>
          </div>
          <div class="my-1 col">
            <label>Model Number</label>
          </div>
          <div class="my-1 col">
            <label>Serial Number</label>
          </div>
          <div class="my-1 col">
            <label>Media Capacity</label>
          </div>
          <div class="my-1 col">
            <label>Media Status</label>
          </div>
          <div class="my-1 col">
            <label>Media Condition</label>
          </div>
        </div>
        <div class="row border-top text-center" *ngFor="let details of mediaDetails['total_drive']; let i = index">
          <div class="my-2 col">
            {{i+1}}
          </div>
          <div class="my-2 col" *ngIf="mediaDetails['media_type'] == 'Tape Library'">
            {{(details['media_category']=='Others')?details['media_category_other']:details['media_category']}}
          </div>
          <div class="my-2 col" *ngIf="mediaDetails['media_type'] == 'Tape Library'">
                    {{(details['media_make']=='Others')?details['make_other']:details['media_make']}}
          </div>
          <div class="my-2 col">
            {{details['model_number']}}
          </div>
          <div class="my-2 col">
            {{details['serial_number']}}
          </div>
          <div class="my-2 col">
            {{details['media_capacity']}}
          </div>
          <div class="my-2 col">
            {{details['media_status']}}
          </div>
          <div class="my-2 col">
            {{details['media_condition']}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="closeModel()">Close</button>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-autoheight .modal-body {
    position: relative;
    overflow-y: auto;
    min-height: 100px !important;
    max-height: 600px !important;
  }
</style>