<h2 mat-dialog-title>{{diaTitle}}</h2>
<form [formGroup]="media">
    <div mat-dialog-content>
        
        <div class="col-sm-12">
            <mat-label>Select Branch</mat-label>
            <mat-select formControlName="branch_id" [ngClass]="{ 'is-invalid': submitted && f['branch_id'].errors }"
                class="form-control">
                <mat-option *ngFor="let ban of branchList" [value]="ban['id']">{{ban['branch_name']}}
                </mat-option>
            </mat-select>
            <div *ngIf="submitted && f['branch_id'].errors" class="invalid-feedback">
                <div *ngIf="f['branch_id'].errors['required']">Branch is required</div>
            </div>
        </div><br>
        <div class="col-sm-12">
            <mat-label>Select Reason</mat-label>
            <mat-select formControlName="reason" [ngClass]="{ 'is-invalid': submitted && f['reason'].errors }"
                class="form-control">
                <mat-option value="Need to send to HO for Pre-Inspection">Need to send to HO for Pre-Inspection</mat-option>
                <mat-option value="Need to send to HO for Inspection">Need to send to HO for Inspection</mat-option>                
                <mat-option value="Need to send to Other Branch for Inspection">Need to send to Other Branch for Inspection</mat-option>
                <mat-option value="Need to send to HO for Recovery">Need to send to HO for Recovery</mat-option>
                <mat-option value=">Need to send to Other Branch for Recovery">Need to send to Other Branch for Recovery</mat-option>
                <mat-option value="Need to send to other Branch for Pre-Inspection Recovery">Need to send to other Branch for Pre-Inspection Recovery</mat-option>
                 </mat-select>
            <div *ngIf="submitted && f['reason'].errors" class="invalid-feedback">
                <div *ngIf="f['reason'].errors['required']">Reason is required</div>
            </div>
        </div><br>
        <div class="col-sm-12">
            <mat-label>Extension Required</mat-label>
          <select class="form-control" formControlName="extension_required">
            <option value="">Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div><br>
        <div class="col-sm-12" *ngIf="f['extension_required'].value == 'Yes' ">
            <mat-label>Extension Required Days</mat-label>
            <select class="form-control" formControlName="extension_day">
              <option value="">Select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
            </select>
          </div>

    </div>
</form><br>
<div class="row" style="float: right;" >
    <button class="btn btn-default" (click)="hide();">Close</button>&nbsp;
    <button [disabled]="loading" type="buttun" class="btn btn-primary" (click)="onSubmit()">Save<span *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"></span></button>
</div>