<div class="content-wrapper">
    <div class="content-header" style="margin-top: 57px;">
      <div class="container-fluid">
        <nav mat-tab-nav-bar *ngIf="isLoading">
          <a mat-tab-link *ngFor="let tabItem of tabItems" (click)="onchangetab(tabItem)"  [active]="activeLink == tabItem">
             {{(mediaDetails['media_type'] =='Hard Drive' || mediaDetails['media_type'] =='External Hard Drive')?
             tabItem:(mediaDetails['media_type'] !='Hard Drive' && mediaDetails['media_type'] !='External Hard Drive' && tabItem=='Initial Observation')?'Recovery':tabItem }} 
             </a>
        </nav><br>
      </div>
    </div>
    <section class="content" *ngIf="isLoading">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12" [innerHtml]="mediaDetails|mediaTable"></div>   
          
          <div class="col-12">
            <table class="table table-striped table-bordered responsive" style="background-color: #fff !important;">
              <tr>
                <th colspan="3" class="h6">History</th>
                <th>
                  <a style="float:right"  *ngIf="mediaDetails['stage'] == 7" href="javascript:void(0)"  class="btn btn-primary btn-sm" (click)="editMediaIn()">
                    Edit Details</a>
                  </th>
              </tr>
              <tr>
                <th width="30">S.No</th>
                <th width="200">Modify On</th>
                <th width="200">Modify By</th>
                <th>Remarks</th>
              </tr>
              <tr *ngFor="let item of mediaEditHistory; let i = index">
                <td>{{i+1}}</td>
                <td>{{mediaEditHistory[i]['added_on'] | date:'medium'}}</td>
                <td>{{ mediaEditHistory[i]['user_name'] ==null ? mediaEditHistory[i]['added_by'] :
                  mediaEditHistory[i]['user_name'] }}</td>
                <td>{{mediaEditHistory[i]['remarks']}}</td>
              </tr>
            </table>
          </div>
         </div>
  
      </div>
    </section>
  </div>