<div class="content-wrapper">
    <div class="content-header" style="margin-top: 57px;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-xl-12 col-sm-12">
            <h1 class="m-0 text-dark">{{pageTitle}}
            <button type="button" class="btn btn-danger btn-sm" style="float: right;" (click)="addMedia()">Add Test Media For Wiping</button></h1> 
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <table mat-table class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" matSortDirection="asc"
              [dataSource]="wipingList" style="width: 100%;">
  
              <ng-container matColumnDef="job_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Id</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['../media/job-process/', element.media_id]"
                  title="View Case Details">{{(element.job_id ==null)?element.zoho_id:element.job_id}}</a></td>
              </ng-container>
  
              <ng-container matColumnDef="customer_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.customer_name}} </td>
              </ng-container>
              <ng-container matColumnDef="media_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Media Type</th>
                <td mat-cell *matCellDef="let element"> {{element?.media_type}} </td>
              </ng-container>
              <ng-container matColumnDef="stage_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.stage_name}}&nbsp;&nbsp; 
              </td>              
              </ng-container>
              <ng-container matColumnDef="request_wiping_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Wiping Date</th>
                <td mat-cell *matCellDef="let element"> {{element.request_wiping_date | date}}&nbsp;&nbsp; 
              </td>              
              </ng-container>
              <ng-container matColumnDef="expected_wiping_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Expected Wiping Date </th>
                <td mat-cell *matCellDef="let element"> {{element.expected_wiping_date| date}}&nbsp;&nbsp; 
              </td>              
              </ng-container>
              <ng-container matColumnDef="approve_wiping_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Wiping Done </th>
                <td mat-cell *matCellDef="let element"> {{element.approve_wiping_date| date}}&nbsp;&nbsp; 
              </td>              
              </ng-container>
              <ng-container matColumnDef="wiping_status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Wiping Status </th>
                <td mat-cell *matCellDef="let element"> {{element.wiping_status}}&nbsp;&nbsp; 
              </td>              
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action </th>
                <td mat-cell *matCellDef="let element"> 
                 <a href="javascript:void(0)" *ngIf="element.status=='0'" (click)="updateWiping(element)">Update Status</a>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
            <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
            </mat-paginator>
  
          </div>
        </div>
      </div>
    </section>
  </div>

  
<div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':AddMediaStyle}" style="z-index: 1000;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #dddddd;">
        <h4 class="modal-title mb-0"><strong> Add Test Media For Wiping</strong></h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <input type="text" [(ngModel)]="jobidfield" class="mt-2 table-search form-control form-control-sm" placeholder="Please Enter the Job Id">        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-primary btn-sm" (click)="SaveMedia()">Save</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="CloseMedia()">Close</button>
      </div>
    </div>
  </div>
</div>
  