<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <img   src="assets/logo.png"  class="brand-image" />
            </div>
            <div class="card-body">
                   <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="input-group mb-3">
                            <input type="email" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" class="form-control"
                            placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">Email is required</div>
                                <small class="p-error p-align-left" *ngIf="f['email'].errors['pattern']">Email is not valid.</small>
                                <small class="p-error"
                                    *ngIf="f['email'].errors['message']">{{f['email'].errors['message']}}</small>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-12">
                                <button [disabled]="loading" class="btn btn-primary btn-block">
                                    Request new password<span *ngIf="loading"
                                        class="spinner-border spinner-border-sm mr-1"></span></button>
                            </div>
            
                        </div>
                    </form>
                    <p class="mb-1">
                        <a routerLink="">Back To Login</a>
                  </p>           
            </div>
       </div> 
    </div>
</body>