<div class="content-wrapper">
    <div class="content-header" style="margin-top: 57px;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-xl-4 col-sm-4">
            <h1 class="m-0 text-dark">{{pageTitle}}</h1>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">Search</legend>
                <div class="row">
                <div class="col-sm-2 pb-2">          
                  <mat-select class="form-control form-control-sm" [(value)]="branchId"  placeholder="Select branch List" (selectionChange)="branchChange($event)">              
                      <mat-option *ngFor="let search of branchList" [value]="search['id']">
                        {{search['branch_name']}}
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="col-sm-2 pb-2">
                      <button  class="btn btn-primary btn-sm" (click)="_search()">Search</button>&nbsp; <button  class="btn btn-default btn-sm" (click)="reset()">Reset</button>
                    </div>
                    </div>
              </fieldset>
            </div>
            
            <div class="col-12">
                <table mat-table class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" matSortDirection="asc"
                  [dataSource]="mediaInList" style="width: 100%;">
      
      
                  <ng-container matColumnDef="zoho_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Zoho Record Id</th>
                    <td mat-cell *matCellDef="let element">{{element?.zoho_id}} </td>
                  </ng-container>
                  <ng-container matColumnDef="job_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Id</th>
                    <td mat-cell *matCellDef="let element">
                        {{element?.job_id}}</td>
                  </ng-container>
      
                  <ng-container matColumnDef="customer_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
                    <td mat-cell *matCellDef="let element"> {{element?.customer_name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="branch_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Base Name</th>
                    <td mat-cell *matCellDef="let element"> {{element?.branch_name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="new_branch_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Transfer Branch</th>
                    <td mat-cell *matCellDef="let element"> {{element?.new_branch_id}} </td>
                  </ng-container>
                  <ng-container matColumnDef="media_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Media Type </th>
                    <td mat-cell *matCellDef="let element"> {{element?.media_type}} </td>
                  </ng-container>
                  <ng-container matColumnDef="stage_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.stage_name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action </th>
                    <td mat-cell *matCellDef="let element"> 
                      <a  [routerLink]="['./../gate-pass']" [queryParams]="{ job_id: (element.job_id==null)?element.zoho_id:element.job_id}" *ngIf="element.genPassCheck && element.getpasStatus ==0">Generate GatePass</a>
                      <a href="javascript:void(0)" *ngIf="element.getpasStatus ==1 && element.transfer_code == null &&  element.mediaInCheck" (click)="generateCode(element)">Media In</a>
                      <a [routerLink]="['./../transfer-media', element['id']]"  *ngIf="(((element.transfer_id == null && element.mediaTransCheck) || (element.transfer_id !=null && element.transfer_code !=null && element.mediaTransCheck)) && element.client_media_send !=1)">Transfer</a>
                      &nbsp;<a [routerLink]="['./../transfer-media', element['id']]" *ngIf="(((element.transfer_id == null && element.mediaTransCheck) || (element.transfer_id !=null && element.transfer_code !=null && element.mediaTransCheck)) && element.client_media_send ==1)">View</a>
                    </td>
                  </ng-container>
      
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
      
                <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
                </mat-paginator>
      
              </div>
            </div>
        </div>
    </section>
</div>
<div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':AddGatePassStyle}" style="z-index: 1000;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: #dddddd;">
        <h4 class="modal-title mb-0"><strong>Update Gate Pass</strong></h4>
      </div>
      <div class="modal-body">
      <form [formGroup]="GatePass">
        <div class="container">
          <div class="row">
           <div class="col-md-12">
            <div class="form-group">
              <input type="text" [ngClass]="{ 'is-invalid':submitted && fg['ref_name_num'].errors }" formControlName="ref_name_num"  class="form-control form-control-sm" placeholder="Ref. Name/No.">
              <div *ngIf="submitted && fg['ref_name_num'].errors" class="invalid-feedback">
                <div *ngIf="fg['ref_name_num'].errors['required']">Please Enter Ref. Name/No.</div>
              </div>
            </div>
            </div>
          </div>
          
        </div>
      </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-primary btn-sm" (click)="saveGatePass()" >Save </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="cancelGatePass()">Close</button>
      </div>
    </div>
  </div>
</div>