<div class="content-wrapper">
    <div class="content-header" style="margin-top: 57px;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-xl-4 col-sm-4">
            <h1 class="m-0 text-dark">{{pageTitle}}</h1>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <table mat-table class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" matSortDirection="asc"
              [dataSource]="mediaList" style="width: 100%;">
  
  
              <ng-container matColumnDef="zoho_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Zoho Record Id</th>
                <td mat-cell *matCellDef="let element">{{element?.zoho_id}}</td>
              </ng-container>
              <ng-container matColumnDef="job_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Id</th>
                <td mat-cell *matCellDef="let element">{{element?.job_id}}</td>
              </ng-container>
  
              <ng-container matColumnDef="customer_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.customer_name}} </td>
              </ng-container>
              <ng-container matColumnDef="branch_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
                <td mat-cell *matCellDef="let element"> {{element?.branch_name}} </td>
              </ng-container>
              <ng-container matColumnDef="media_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Media Type </th>
                <td mat-cell *matCellDef="let element"> {{element?.media_type}} </td>
              </ng-container>
              <ng-container matColumnDef="stage_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.stage_name}}&nbsp;&nbsp; 
              </td>              
              </ng-container>
              <ng-container matColumnDef="transfer_id">
                <th mat-header-cell *matHeaderCellDef>Transfer media</th>
                <td mat-cell *matCellDef="let element"> {{ element.new_branch_id }} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action </th>
                <td mat-cell *matCellDef="let element"> 
                  <a href="javascript:void(0)" *ngIf="element.media_out_id == null" (click)="requestMediaOut(element)">Request For Media Out</a>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
            <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
            </mat-paginator>
  
          </div>
        </div>
      </div>
    </section>
  </div>
  