<div class="content-wrapper">
    <div class="content-header" style="margin-top: 57px;">
      <div class="container-fluid" *ngIf="isLoading">
        <app-tab [mediaDetails]="mediaDetails" ></app-tab>
        <div class="row mb-2" >
          <div class="col-xl-9 col-sm-9">
            <h2 class="m-0 text-dark">{{pageTitle +" : "+mediaDetails['deal_id']}} &nbsp;&nbsp;&nbsp;<span
                *ngIf="mediaDetails['job_id'] !=null">Job Id : {{mediaDetails['job_id']}}</span></h2>
          </div>
        </div>
      </div>
    </div>
    <hdd-view-details [hddDetails]='mediaDetails' *ngIf="isLoading && mediaDetails['media_type'] =='Hard Drive' || mediaDetails['media_type'] =='External Hard Drive'"></hdd-view-details>
    <sdd-view-details [sddDetails]='mediaDetails' *ngIf="isLoading && mediaDetails['media_type'] =='Solid State Drive' || mediaDetails['media_type'] =='External Solid State Drive'"></sdd-view-details>
    
  </div>
  
  
  
  <style>
    .modal-autoheight .modal-body {
      position: relative;
      overflow-y: auto;
      min-height: 100px !important;
      max-height: 600px !important;
    }
  </style>