<div class="content-wrapper">
    <div class="content-header" style="margin-top: 57px;">
      <div class="container-fluid" *ngIf="isLoading">
        <app-tab [mediaDetails]="mediaDetails" ></app-tab>
        <div class="row mb-2" >
          <div class="col-xl-9 col-sm-9">
            <h2 class="m-0 text-dark">{{pageTitle +" : "+mediaDetails['deal_id']}} <span class="pl-3"
                *ngIf="mediaDetails['job_id'] !=null">Job Id : {{mediaDetails['job_id']}}</span></h2><br>
                <h3 class="m-0 text-dark"><strong>Current ISE : {{mediaDetails['CurrentISE']}}</strong></h3><br>
                <h3 class="m-0 text-dark"><strong>Current Technician : {{mediaDetails['CurrentTech']}}</strong></h3>
          </div>
        </div>
      </div>
    </div>
    <hdd-view-details [hddDetails]='mediaDetails' *ngIf="isLoading && mediaDetails['media_type'] =='Hard Drive' || mediaDetails['media_type'] =='External Hard Drive'"></hdd-view-details>
    <sdd-view-details [sddDetails]='mediaDetails' *ngIf="isLoading && mediaDetails['media_type'] =='Solid State Drive' || mediaDetails['media_type'] =='External Solid State Drive'"></sdd-view-details> 
    <flash-view-details [flashDetails]='mediaDetails' *ngIf="isLoading && mediaDetails['media_type'] =='Flash Media'"></flash-view-details> 
    <section class="content mb-3" *ngIf="mediaDetails['job_id'] !==null">
      <div class="container-fluid">
          <div class="row ">
              <div class="col-12">
                  <table class="table table-striped responsive count_table">
                      <thead>
                          <tr class="table-title">
                            <th colspan="2" class="h6">Mail & Print</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr><th>Media In</th><td><a target="_blank" href="{{ Printurl }}{{'document/print-mediain/'+mediaDetails['id']}}">Print</a></td></tr>
                          <tr><th>Directory Listing Acceptance & Credit Facility</th><td><a target="_blank" href="{{ Printurl }}{{'document/print-dlac/'+mediaDetails['id']}}">Print</a></td></tr>
                          <tr><th>Directory Listing Acceptance Letter</th><td><a target="_blank" href="{{ Printurl }}{{'document/print-dlacl/'+mediaDetails['id']}}">Print</a></td></tr>
                          <tr><th>Data Out</th><td><a target="_blank" href="{{ Printurl }}{{'document/print-dataout/'+mediaDetails['id']}}">Print</a></td></tr>
                          <tr><th>Media Out</th><td><a target="_blank" href="{{ Printurl }}{{'document/print-mediaout/'+mediaDetails['id']}}">Print</a></td></tr>
                          <tr><th>Job Card</th><td><a target="_blank" href="{{ Printurl }}{{'document/print-jobcard/'+mediaDetails['id']}}">Print</a></td></tr>
                        </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>
  </div>
  
  
  
  <style>
    .modal-autoheight .modal-body {
      position: relative;
      overflow-y: auto;
      min-height: 100px !important;
      max-height: 600px !important;
    }
  </style>