<div class="content-wrapper">
    <div class="content-header" style="margin-top: 57px;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-10">
            <h1 class="m-0 text-dark">{{pageTitle}}</h1>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
        <div class="container-fluid" *ngIf="isLoading">
            <form [formGroup]="mediaEdit">
                <div class="row">
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Solid State Drive'|| mediaDetails['media_type'] == 'Flash Media'">
                    <label class="control-label">Media Condition:</label><br>
                    <select class="form-control form-control-sm" formControlName="media_seal_condition">
                      <option *ngFor="let condition of mediaObj['condition']" [value]="condition">{{condition}}</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Flash Media'">
                    <label class="control-label">Flash Media Architacture:</label><br>
                    <select class="form-control form-control-sm" formControlName="architacture">
                      <option value="Monolithic">Monolithic</option>
                      <option value="Non Monolithic">Non Monolithic</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Solid State Drive'">
                    <label class="control-label">Media Interface:</label><br>
                    <select class="form-control form-control-sm" formControlName="media_interface">
                      <option *ngFor="let interface of mediaObj['SSDInterFace']" [value]="interface">{{interface}}</option>
                    </select>
                    <input *ngIf="f['media_interface'].value == 'Other'" type="text" class="form-control form-control-sm mt-1" formControlName="media_interface_other" [ngClass]="{ 'is-invalid': submitted && f['media_interface_other'].errors }" placeholder="Please Enter Other Interface" maxlength="50"> 
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Solid State Drive'">
                    <label class="control-label">SSD Found Tampered:</label><br>
                    <select class="form-control form-control-sm" formControlName="p_c_b_found_tempered">
                        <option value="Physical Damage">Physical Damage</option>
                        <option value="Broken">Broken</option>
                        <option value="Component Missing">Component Missing</option>
                        <option value="Component Resolder">Component Resolder</option>
                        <option value="Already Use Hot Air Gun">Already Use Hot Air Gun</option>
                        <option value="Not Applicable">Not Applicable</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Flash Media'">
                    <label class="control-label">NAND  Chip Found Tampered:</label><br>
                    <select class="form-control form-control-sm" formControlName="p_c_b_found_tempered">
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                  </div>
             
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Solid State Drive'|| mediaDetails['media_type'] == 'Flash Media'">
                    <label class="control-label">{{mediaDetails['media_type']=='Flash Media'?'NAND Chip Found Faulty':'SSD Found Faulty'}}:</label><br>
                    <select class="form-control form-control-sm" formControlName="p_c_b_found_faulty">
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">P.C.B. Found Faulty:</label><br>
                    <select class="form-control form-control-sm" formControlName="p_c_b_found_faulty">
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                  </div>
                  <div class="col-4 p-3"  *ngIf="mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Solid State Drive'|| mediaDetails['media_type'] == 'Flash Media'">
                    <label class="control-label">Controller Found Faulty:</label><br>
                    <select class="form-control form-control-sm" formControlName="motor_found_faulty">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Flash Media'">
                    <label class="control-label">NAND Chip Internal Damage:</label><br>
                    <select class="form-control form-control-sm" formControlName="internal_damage">
                      <option value="Data Tracks">Data Tracks</option>
                      <option value="Technological Pins">Technological Pins</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Solid State Drive'">
                    <label class="control-label">Controller Name:</label><br>
                    <select class="form-control form-control-sm" formControlName="controller_name">
                        <option value="Silicon Motion family(SM)">Silicon Motion family(SM)</option>
                        <option value="Phison family,Marvell Family">Phison family,Marvell Family</option>
                        <option value="Samsung family">Samsung family</option>
                        <option value="Indilinx Barefoot family">Indilinx Barefoot family</option>
                        <option value="OCZ Barefoot 3 family">OCZ Barefoot 3 family</option>
                        <option value="Intel family">Intel family</option>
                        <option value="Jmicron">Jmicron</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Solid State Drive'|| mediaDetails['media_type'] == 'Flash Media'">
                    <label class="control-label">Total No. of Data chips:</label><br>
                    <select class="form-control form-control-sm" formControlName="total_numbers_of_heads">
                        <option *ngFor="let count of mediaObj['plattersCount']" [value]="count">{{count}}</option>
                    </select>
                    <input *ngIf="f['total_numbers_of_heads'].value == 'Other'" type="text" class="form-control form-control-sm mt-1" formControlName="total_numbers_of_heads_other"  placeholder="Please Enter" >
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] =='Flash Media'">
                    <label class="control-label">Number Of Working NAND Chips:</label><br>
                    <select class="form-control form-control-sm" formControlName="number_of_working_heads">
                        <option *ngFor="let count of mediaObj['plattersCount']" [value]="count">{{count}}</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] =='Flash Media'">
                    <label class="control-label">Number Of Non Working NAND Chips:</label><br>
                    <select class="form-control form-control-sm" formControlName="number_of_non_working_heads">
                        <option *ngFor="let count of mediaObj['plattersCount']" [value]="count">{{count}}</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] =='Flash Media'">
                    <label class="control-label">Encryption in Media:</label><br>
                    <select class="form-control form-control-sm" formControlName="encryption">
                      <option value="Dynamic XOR">Dynamic XOR</option>
                      <option value="Adaptive XOR">Adaptive XOR</option>
                      <option value="LDPC">LDPC</option>
                      <option value="Hardware Encryption">Hardware Encryption</option>
                      <option value="Unknown">Unknown</option>
                    </select>
                  </div>
                  <div class="col-4 p-3"  *ngIf="mediaDetails['media_type'] == 'Flash Media'">
                    <label class="control-label">XOR Key :</label><br>
                    <select class="form-control form-control-sm" formControlName="virtual_translater">
                      <option value="Available in Database">Available in Database</option>
                      <option value="Non Available in Database">Non Available in Database</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Solid State Drive'">
                    <label class="control-label">Data Chip Type:</label><br>
                    <select class="form-control form-control-sm" formControlName="unique_rom_chip">
                      <option value="SMD(surface mounted Device)">SMD(surface mounted Device)</option>
                      <option value="BGA ( Ball Grid Array)">BGA ( Ball Grid Array)</option>
                      <option value="Embedded">Embedded</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Solid State Drive'">
                    <label class="control-label">On the Fly Encryption:</label><br>
                    <input type="text" class="form-control form-control-sm" formControlName="encryption">
                  </div>

                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Unique Rom Chip:</label><br>
                    <select class="form-control form-control-sm" formControlName="unique_rom_chip">
                      <option value="Original">Original</option>
                      <option value="Changed">Changed</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">P.C.B. Original:</label><br>
                    <select class="form-control form-control-sm" formControlName="p_c_b_original">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Motor ( Rotational System ) Found Faulty:</label><br>
                    <select class="form-control form-control-sm" formControlName="motor_found_faulty">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">P.C.B. Found Tampered:</label><br>
                    <select class="form-control form-control-sm" formControlName="p_c_b_found_tempered">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Head Stack Assembly:</label><br>
                    <select class="form-control form-control-sm" formControlName="head_stack_assembly">
                      <option value="Fauly">Fauly</option>
                      <option value="Physically Ok">Physically Ok</option>
                      <option value="Broken">Broken</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Found Foreign Particles On Platters:</label><br>
                    <select class="form-control form-control-sm" formControlName="found_foreign_particles_on_platters">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="Ants Found Inside">Ants Found Inside</option>
                        <option value="Water logged">Water logged</option>
                        <option value="Burnt">Burnt</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Total Numbers Of Heads:</label><br>
                    <select class="form-control form-control-sm" formControlName="total_numbers_of_heads">
                        <option *ngFor="let count of mediaObj['plattersCount']" [value]="count">{{count}}</option>
                    </select>
                    <input *ngIf="f['total_numbers_of_heads'].value == 'Other'" type="text" class="form-control form-control-sm mt-1" formControlName="total_numbers_of_heads_other"  placeholder="Please Enter" >
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Total Number Of Platters:</label><br>
                    <select class="form-control form-control-sm" formControlName="total_number_of_platters">
                        <option *ngFor="let count of mediaObj['plattersCount']" [value]="count">{{count}}</option>
                    </select>
                    <input *ngIf="f['total_number_of_platters'].value == 'Other'" type="text" class="form-control form-control-sm mt-1" formControlName="total_number_of_platters_other"  placeholder="Please Enter" >
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Number Of Working Heads:</label><br>
                    <select class="form-control form-control-sm" formControlName="number_of_working_heads">
                        <option *ngFor="let count of mediaObj['HeadCount']" [value]="count">{{count}}</option>
                    </select>
                    <input *ngIf="f['number_of_working_heads'].value == 'Other'" type="text" class="form-control form-control-sm mt-1" formControlName="number_of_working_heads_other"  placeholder="Please Enter" >
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Number Of Non Working Heads:</label><br>
                    <select class="form-control form-control-sm" formControlName="number_of_non_working_heads">
                        <option *ngFor="let count of mediaObj['HeadCount']" [value]="count">{{count}}</option>
                    </select>
                    <input *ngIf="f['number_of_non_working_heads'].value == 'Other'" type="text" class="form-control form-control-sm mt-1" formControlName="number_of_non_working_heads_other"  placeholder="Please Enter" >
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Condition Of Platter Surface:</label><br>
                    <select class="form-control form-control-sm" formControlName="condition_of_platter_surface">
                      <option value="Light Scratches">Light Scratches</option>
                      <option value="Heavy Scratches">Heavy Scratches</option>
                      <option value="Polymeric lubricant layer found damaged">Polymeric lubricant layer found damaged</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Condition Of Multiple Platter Surface:</label><br>
                    <input type="text" class="form-control form-control-sm" formControlName="condition_of_multiple_platter_surface">
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Platter Cleaning Required At Initial Stage:</label><br>
                    <select class="form-control form-control-sm" formControlName="platter_cleaning_required_at_initial_stage">
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">P.C.B Rom Is Corrupted:</label><br>
                    <select class="form-control form-control-sm" formControlName="p_c_b_rom_is_corrupted">
                      <option *ngFor="let count of mediaObj['encryptionStatus']" [value]="count">{{count}}</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">The Modules In The Service Area Are Corrupted:</label><br>
                    <select class="form-control form-control-sm" formControlName="service_area_are_corrupted">
                      <option *ngFor="let count of mediaObj['encryptionStatus']" [value]="count">{{count}}</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'Hard Drive'  ||  mediaDetails['media_type'] == 'External Hard Drive'">
                    <label class="control-label">Imaging Process At Initial Stage:</label><br>
                    <select class="form-control form-control-sm" formControlName="imaging_process_at_initial_stage">
                      <option value="Slow">Slow</option>
                      <option value="Normal">Normal</option>
                    </select>
                  </div>
                  <div class="col-4 p-3">
                    <label class="control-label">Similar Spare Required:
                    <span *ngIf="this.f['spare_required'].value == 'Yes'"
                    style="font-size: 16px; color: #ec2728; cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"
                      matTooltip="Add Media Part Details" (click)="mediaSpare()"></i></span></label><br>
                    <select class="form-control form-control-sm" formControlName="spare_required" (change)="dropDownChange('spare')">
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Solid State Drive'|| mediaDetails['media_type'] == 'Flash Media'">
                    <label class="control-label">Chip Reading Method :</label><br>
                    <select class="form-control form-control-sm" formControlName="imaging_process_at_initial_stage">
                      <option value="Chipoff">Chipoff</option>
                      <option value="Non Chipoff">Non Chipoff</option>
                    </select>
                  </div>
                  <div class="col-4 p-3"  *ngIf="mediaDetails['media_type'] == 'External Solid State Drive' || mediaDetails['media_type'] == 'Solid State Drive'">
                    <label class="control-label">Virtual Translater :</label><br>
                    <select class="form-control form-control-sm" formControlName="virtual_translater">
                      <option value="Available in Database">Available in Database</option>
                      <option value="Non Available in Database">Non Available in Database</option>
                    </select>
                  </div>
                  <div class="col-4 p-3">
                    <label class="control-label">Recovery Possibility:</label><br>
                    <select class="form-control form-control-sm" formControlName="recovery_possibility">
                      <option *ngFor="let rec of mediaObj['recoveryPos']" [value]="rec">{{rec}}</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="(f['recovery_possibility'].value != 'No') && (mediaDetails['media_type'] != 'Hard Drive'  &&  mediaDetails['media_type'] != 'External Hard Drive')">
                    <label class="control-label">Recovered Data Files and Folder’s Structure:</label><br>
                    <select class="form-control form-control-sm" formControlName="recoverable_data">
                      <option *ngFor="let recData of mediaObj['recoverableData']" [value]="recData">{{recData}}</option>
                    </select>
                  </div>
                  <div class="col-4 p-3" *ngIf="(f['recovery_possibility'].value != 'No') && (mediaDetails['media_type'] != 'Hard Drive'  &&  mediaDetails['media_type'] != 'External Hard Drive')">
                    <label class="control-label">Recovery Percentage:</label><br>
                    <select class="form-control form-control-sm" formControlName="recovery_percentage">
                      <option *ngFor="let recPer of mediaObj['recoveryPercentage']" [value]="recPer">{{recPer}}</option>
                    </select>
                  </div>
                 <div class="col-4 p-3" *ngIf="(f['recovery_possibility'].value == 'No')">
                    <label class="control-label">Case Not Possible Reason:</label><br>
                      <mat-select multiple formControlName="no_recovery_reason" class="form-control form-control-sm mt-1">
                        <mat-option *ngFor="let caseno of caseNotPossibleObj" [value]="caseno">{{caseno}}</mat-option>
                        </mat-select>
                    <input type="text" class="form-control form-control-sm mt-1" formControlName="no_recovery_reason_other"  placeholder="Please Enter Other Reason" > 
                  </div>
                  <div class="col-lg-12 col-md-12 p-3" *ngIf="mediaDetails['media_type'] != 'Hard Drive'  &&  mediaDetails['media_type'] != 'External Hard Drive'">
                    <label class="control-label">SSD Case Details: </label><br>
                    <textarea class="form-control form-control-sm" formControlName="label1"></textarea>
                  </div>
                  
                  <div class="col-lg-12 col-md-12 p-3">
                    <label class="control-label">Notes For Customer:</label><br>
                    <textarea class="form-control form-control-sm" formControlName="notes"
                      [ngClass]="{ 'is-invalid': submitted && f['notes'].errors }"></textarea>
                    <div *ngIf="submitted && f['notes'].errors" class="invalid-feedback">
                      <div *ngIf="f['notes'].errors['required']">notes is required</div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 p-3">
                    <label class="control-label">Add Your Remarks For ISE/DRC<sup class="text-danger">*</sup>:</label><br>
                    <textarea class="form-control form-control-sm" formControlName="remarks"
                      [ngClass]="{ 'is-invalid': submitted && f['remarks'].errors }"></textarea>
                    <div *ngIf="submitted && f['remarks'].errors" class="invalid-feedback">
                      <div *ngIf="f['remarks'].errors['required']">Remarks is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-right pb-1">
                  <button class="btn btn-default" (click)="hide();">Close</button>&nbsp;
                  <button [disabled]="loading" type="buttun" class="btn btn-primary" (click)="onSubmit()">Save<span
                      *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span></button>&nbsp;
                </div>
            </form>
        </div>
    </section>

    </div>

    
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':mediaSpareModel}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: #ddd;">
          <h2 class="modal-title mb-0">Similar Spare Details</h2>
        </div>
        <div class="modal-body">
          <div class="row text-center">
            <div class="form-group col" *ngIf="mediaDetails['media_type']=='Tape Library' || mediaDetails['media_type']=='Tape Stand Alone'">
              <label>Media Category</label>
            </div>
           <div class="form-group col">
              <label>Media Make</label>
            </div>
            <div class="form-group col">
              <label>Media Model</label>
            </div>
            <div class="form-group col">
              <label>Media Capacity</label>
            </div>
            <div class="form-group col" *ngIf="mediaDetails['media_type']=='External Solid State Drive' || mediaDetails['media_type']=='Solid State Drive'">
              <label>Controller Model No</label>
            </div>
            <div class="form-group col" *ngIf="mediaDetails['media_type']=='External Solid State Drive' || mediaDetails['media_type']=='Solid State Drive'">
              <label>No Of Data CHIP</label>
            </div>
            <div class="form-group col" *ngIf="mediaDetails['media_type']=='External Solid State Drive' || mediaDetails['media_type']=='Solid State Drive'">
              <label>Controller Make</label>
            </div>
            <div class="form-group col" *ngIf="mediaDetails['media_type']!='Tape Library' && mediaDetails['media_type']!='Tape Stand Alone' && mediaDetails['media_type']!='External Solid State Drive' && mediaDetails['media_type']!='Solid State Drive'">
              <label>Firmware</label>
            </div>
            <div class="form-group col" *ngIf="mediaDetails['media_type']!='Tape Library' && mediaDetails['media_type']!='Tape Stand Alone' && mediaDetails['media_type']!='External Solid State Drive' && mediaDetails['media_type']!='Solid State Drive'">
              <label>Site Code</label>
            </div>
            <div class="form-group col" *ngIf="mediaDetails['media_type']!='Tape Library' && mediaDetails['media_type']!='Tape Stand Alone' && mediaDetails['media_type']!='External Solid State Drive' && mediaDetails['media_type']!='Solid State Drive'">
              <label>PCB No</label>
            </div>
            <div class="form-group col" *ngIf="this.f['spare_required'].value == 'Available in Stellar Inventory'">
              <label>Inventory No</label>
            </div>
          </div>
          <form [formGroup]="MediaSpareForm">
            <div *ngFor="let test of ts.controls; let i = index">
              <div class="row text-center" [formGroup]="test">
                <div class="form-group col" *ngIf="mediaDetails['media_type'] =='Tape Library' || mediaDetails['media_type'] =='Tape Stand Alone'">
                  <select formControlName="media_category" class="form-control form-control-sm" >
                    <option *ngFor="let size of mediaObj['mediaSize']['Tape Stand Alone']" [value]="size">{{size}}</option>
                  </select>
                  <input type="text" formControlName="media_category_other" class="form-control form-control-sm" *ngIf="test.controls.media_category.value == 'Others'">
                </div>
                  <div class="form-group col">
                  <input type="text" formControlName="media_make" class="form-control form-control-sm">
                </div>
                <div class="form-group col">
                  <input type="text" formControlName="model_model" class="form-control form-control-sm" />
                </div>
                <div class="form-group col">
                  <select formControlName="media_capacity" class="form-control form-control-sm">
                    <option *ngFor="let capacity of mediaObj['capacity']" [value]="capacity">{{capacity}}</option>
                  </select>
                </div>
                <div class="form-group col" *ngIf="mediaDetails['media_type']=='External Solid State Drive' || mediaDetails['media_type']=='Solid State Drive'">
                  <input type="text" formControlName="controller_model" class="form-control form-control-sm" />
                </div>
                <div class="form-group col" *ngIf="mediaDetails['media_type']=='External Solid State Drive' || mediaDetails['media_type']=='Solid State Drive'">
                  <input type="text" formControlName="nom_of_data" class="form-control form-control-sm" />
                </div>
                <div class="form-group col" *ngIf="mediaDetails['media_type']=='External Solid State Drive' || mediaDetails['media_type']=='Solid State Drive'">
                  <input type="text" formControlName="controller_make" class="form-control form-control-sm" />
                </div>
                <div class="form-group col" *ngIf="mediaDetails['media_type']!='Tape Library' && mediaDetails['media_type']!='Tape Stand Alone' && mediaDetails['media_type']!='External Solid State Drive' && mediaDetails['media_type']!='Solid State Drive'">
                  <input type="text" formControlName="firmware" class="form-control form-control-sm" />
                </div>
                <div class="form-group col" *ngIf="mediaDetails['media_type']!='Tape Library' && mediaDetails['media_type']!='Tape Stand Alone' && mediaDetails['media_type']!='External Solid State Drive' && mediaDetails['media_type']!='Solid State Drive'">
                  <input type="text" formControlName="site_code" class="form-control form-control-sm" />
                </div>
                <div class="form-group col" *ngIf="mediaDetails['media_type']!='Tape Library' && mediaDetails['media_type']!='Tape Stand Alone' && mediaDetails['media_type']!='External Solid State Drive' && mediaDetails['media_type']!='Solid State Drive'">
                  <input type="text" formControlName="pcb_num" class="form-control form-control-sm" />
                </div>
                <div class="form-group col" *ngIf="this.f['spare_required'].value == 'Available in Stellar Inventory'">
                  <input type="text" formControlName="inventry_num" class="form-control form-control-sm" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" (click)="saveMediaSpare()">Done</button>
        </div>
      </div>
    </div>
  </div>