<div class="content-wrapper">
    <div class="content-header" style="margin-top: 57px;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-xl-4 col-sm-4">
            <h1 class="m-0 text-dark">{{pageTitle}}</h1>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Advance Search</legend>
                    <div class="row">
                      <div class="col-sm-6">
                        <input [(ngModel)]="nameData" type="text" class="mt-2 form-control-sm table-search form-control" placeholder="Search Template Name" />
                      </div>
                      <br><br>
                      <div class="col-sm-6">
                        <button class="mt-2 btn btn-primary btn-sm" (click)="_search()">Search</button>
                        <button class="mt-2 mx-2 btn btn-default btn-sm" (click)="reset()">Reset</button>
                        <a class="mt-2 btn btn-success btn-sm" [routerLink]="['./add']"><i class="nav-icon fas fa-plus-circle"></i> Add Templates</a>
                      </div>
                    </div>
                </fieldset>
            </div>
          <div class="col-12">
            <table mat-table class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" matSortDirection="asc"
              [dataSource]="templateList" style="width: 100%;">
              <ng-container matColumnDef="sr_no">
                <th mat-header-cell *matHeaderCellDef>sr no</th>
                <td mat-cell *matCellDef="let element; let i = index;">{{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">{{element?.name}}</td>
              </ng-container>
  
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
              </ng-container>
              <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Added On</th>
                <td mat-cell *matCellDef="let element"> {{ element?.created_at | date:'mediumDate' }} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['./edit', element.id]">Edit</a>
                </td>
            </ng-container>
           
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
            <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
            </mat-paginator>
          </div>
        </div>
      </div>
    </section>
  </div>